{% extends 'layout/base.html' %}

{% block content %}
<div class="container">
    <h1>{{ property.name }}</h1>
    <h4 class="text-muted">Address: {{ property.address }}</h4>
    <a href="{% url 'property:create_apartment' property.id %}" class="btn btn-primary">Add apartment</a>

    <div class="row">
        {% for apartment in property.apartment_set.all %}
        <div class="col-md-4 mt-3">
            <div class="mb-4 shadow-sm border">
                <p class="card-text">Number: {{ apartment.number }}</p>
                <p class="card-text">Month value: {{ apartment.month_value }}</p>
                {% if apartment.status == 'av' %}
                <a href="{% url 'rental:create' apartment.id %}" class="btn btn btn-primary">Rent</a>
                {% else %}
                {% for rental in apartment.rental_set.all %}
                {% if not rental.delivered_date %}
                Rented to {{ rental.tenant }}
                <a href="{% url 'rental:terminate' rental.id %}" class="btn btn btn-primary">Return</a>
                {% endif %}
                {% endfor %}
                {% endif %}
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}